
@{
    ViewBag.Title = "Paquetes Turísticos";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-3" style="padding: 23px;">
            <h7>FILTRAR PAQUETES POR:</h7>
            <hr />
            <label>Región</label>
            <select class="form-control" id="select-región"></select>
            <hr />
            <label>Precio</label>
            <select class="form-control" id="select-precio">
                <option value="" selected disabled>Seleccione un rango de precio</option>
                <option value="1-150">Hasta S/. 150</option>
                <option value="150-300">De S/. 150 a S/. 300</option>
                <option value="300-500">De S/. 300 a S/. 500</option>
                <option value="500-1000">De S/. 500 a S/. 1000</option>
            </select>
            <hr />
            <label>Categoría</label>
            <select class="form-control" id="select-categoria">
                <option value="" selected disabled>Seleccione una categoría</option>
                <option value="categoria1">Gastronómico</option>
                <option value="categoria2">Familiar</option>
            </select>
            <hr />
            <label>Seguridad</label>
            <select class="form-control" id="select-seguridad">
                <option value="" selected disabled>Seleccione nivel de seguridad </option>
                <option value="seguridad1">Normal</option>
                <option value="seguridad2">Extremo</option>
            </select>
        </div>
        <div class="col-lg-9">
            <br />
            <div class="row" id="div-paquetes">
            </div>
        </div>
    </div>
</div>

<!-- Detalle de Paquete turístico -->
<div class="modal fade" id="DetallePaqueteModal" tabindex="-1" role="dialog" aria-labelledby="DetallePaqueteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetallePaqueteModalLabel">Detalle de paquete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto1" />
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfotoa" style="width:100px;height:80px;" />
                                </div>
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto2" style="width:100px;height:80px;" />
                                </div>
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto3" style="width:100px;height:80px;" />
                                </div>
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto4" style="width:100px;height:80px;" />
                                </div>
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto5" style="width:100px;height:80px;" />
                                </div>
                                <div class="col-md-2">
                                    <img src="" class='img-thumbnail rounded mx-auto d-block' id="idfoto6" style="width:100px;height:80px;" />
                                </div>
                            </div>
                            <hr />
                            <center><h4 id="idtitulo"></h4></center>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Región: <span id="idregion" style="font-weight:normal"></span></label>
                                </div>
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Duración: <span id="idduracion" style="font-weight:normal"></span></label>
                                </div>
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Pasajeros mínimo: <span id="idpasajeros" style="font-weight:normal"></span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Precio en habitación doble o triple: <span id="precio1" style="font-weight:normal"></span></label>
                                </div>
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Precio en habitación simple: <span id="precio2" style="font-weight:normal"></span></label>
                                </div>
                                <div class="col-md-4">
                                    <label style="font-weight:bold">Tiempo anticipado de compra: <span id="idanticipado" style="font-weight:normal"></span></label>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <center><h5>Itinerario</h5></center>
                                    <div class="table-responsive">
                                        <table class="table table-sm" id="iditinerarios">
                                            <thead>
                                                <tr style="text-align:center" class="table-primary">
                                                    <th>Día</th>
                                                    <th>Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <center><h5>Alojamiento y alimentación</h5></center>
                                    <div class="table-responsive">
                                        <table class="table table-sm" id="idalimentacion">
                                            <thead>
                                                <tr style="text-align:center" class="table-success">
                                                    <th>Día</th>
                                                    <th>Alojamiento</th>
                                                    <th>Alimentación</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger" href="" id="comprar">COMPRAR PAQUETE</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/ListPaquetes.js"></script>
}
