@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="~/Img/banner01.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>MACHU PICCHU</h1>
                    <p>Descubre las maravillas que tiene Cusco para ti, no te pierdas esta oportunidad de conocer la tierra de los Incas.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver detalle</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="~/Img/banner02.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>MONTAÑA ARCOÍRIS</h1>
                    <p>Experimenta una caminata hasta llegar a la "Montaña de 7 colores", también conocida como "Montaña ArcoIris", "Cerro Colorado".</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver detalle</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="~/Img/banner03.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>LINEAS DE NASCA</h1>
                    <p>Aprenderemos más de nuestra cultura, las Lineas y Figuras de las pampas de Nasca.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver detalle</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Img/heading01.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Chachapoyas Milenaria</h2>
            <p>Disfruta de cultura y naturaleza en Amazonas conociendo la enigmática ciudadela de Kuelap.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalle &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Img/heading02.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Catarata de Gocta</h2>
            <p>Camina o súbete a un caballo para cruzar los senderos hasta llegar a la Catarata de Gocta.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalle &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Img/heading03.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Sarcófagos de Karajia</h2>
            <p>Saca al arqueólogo que hay en ti y atrévete a conocer los Sarcófagos de Karajía tumbas chachapoyas ubicadas sobre los acantilados. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalle &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Full Day - Tingo María Básico</h2>
            <p class="lead">Esta bella ciudad, es llamada la "Ciudad de la Bella durmiente", en honor a la montaña que presenta como emblema en el fondo de su horizonte.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/Img/promo01.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Rafting en el Río Chili</h2>
            <p class="lead">Recorreremos aprox. 6 km en el agua, pasando niveles de dificultad de primera, segunda, tercera y cuarta.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/Img/promo02.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Full Day: Nado Con Tortugas en el Ñuro + Punta Veleros</h2>
            <p class="lead">Levántante temprano, y sal desde Piura a conocer una de sus más bellas playas: Los Órganos.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/Img/promo03.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->